* {
    margin: 0;
    padding: 0;
}

.menu {
    float: left;
    width: 420px;
    height: 100vh;
}

.control {
    margin-left: 65px;
    margin-top: 40px;
    font-size: 26px;
    width: 355px;
}

.logo {
    margin-bottom: 35px;
    width: 100%;
    height: 75px;
}

.logo .circle_logo{
    float: left;
    height: 76px;
    width: 76px;
    border-radius: 38px;
    background: #4654EB;
    margin-right: 20px;
}

.logo .circle_logo p {
    margin-top: 0; 
    margin-left: 21px;
    font-size: 36px;
    font-weight: 400;
    line-height: 76px;
    color: #fff;
}

.logo p {
    float: left;
    margin-top: 25px;
}

.content {
    float: left;
    width: calc(100vw - 560px);
    height: calc(100vh - 130px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 10px;
    padding: 45px;
    border-radius: 66px;

    background: #F3F3FB;
    /* height: ; */
}

.control ui {
    margin-top: 35px;
    width: 100%;
}

.control ui a {
    text-decoration: none;
}

.control ui a .li_obj li {
    list-style: none;

    color: black;
    height: 45px;
    width: 325px;
    border-radius: 18px;
    background-color: #fff;
    padding: 15px;
}

.control a {
    list-style: none;

    color: black;
    height: 45px;
    width: 355px;
    border-radius: 18px;
    background-color: #fff;
}

.control a .li_obj {
    height: 45px;
    width: 355px;
    background-color: #fff;
    margin-bottom: 60px;

}

.control a .li_obj :hover {
    /* background-color: #F3F3FB; */
    background-color: #F3F3FB;
}


.control ui a .li_obj li img {
    float: left;
    height: 45px;
    width: 45px;
}

.control ui a .li_obj li p {
    float: left;
    line-height: 45px;
    margin-left: 25px;
}
